<!DOCTYPE html>
<html>
<head>
  <title> Fakr </title>
  <link href="<%= url('/application.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
  
  <header>
    <div class="header">
      <nav class="navigationlinks">
        <a href="#">Comments</a>
        <a href="#">Related</a>
      </nav>
    </div>
  </header>
  
  <div class="userlink">
    <div><%= link_address(:destination, :title) =></div>
    <br>
    <div>
    <h2>top 200 Comments</h2><p>show 500</p>
    </div>
      <br/>

  

    <div class="comment-input">

      <ul>
        <li>REMEBER</li>
        <li> -- Be nice</li>
        <li> -- No bots</li>
        <li> -- No slurs or harrasing commnets</li>
        <li> -- No linking to personal social media pages</li>
        <li> -- No asking for donations (Try /r/Assistance)</li>
    </div>

<div class="comment-form">
    < form_tag('link/:id/comments', class: 'comment-form') do %>
    <div>
      <%= comment_form(:content, nil, rows: 40, cols: 80) %>
    </div>
<div><%= submit_tag 'Save' %></div>
<% end %>

    <div class="side">
      <div class="spacer">
      <h3>Submit a Link</h3>
      </div>
    </div>
  </div>
</div>
</html>

<br/>
<div>
  <%= link_to "Back", :back %>
</div>