<!DOCTYPE html>
<html>
<head>
  <title>Fakr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <header>
    <div class="row">
      <div class="col-md-8">
        <h1 class="logo">Faker</h1>
          <nav class="navigationlinks">
            <a href="#">Hot</a>
            <a href="#">New</a>
            <a href="#">Rising</a>
            <a href="#">Controversial</a>
            <a href="#">Top</a>
            <a href="#">Gilded</a>
            <a href="#">Wiki</a>
            <a href="#">Promoted</a>
          </nav>
        <form class="form-inline">
         <input class="searchbar" type="text" placeholder="Search" required>
          <input class="searchbutton" type="button" value="Search">
        </form>
      </div>
    </div>
  <div class="row">
      <div class="sidebar col-xs-2">
        <ul class="list-unstyled">
          <% if current_user %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete,
                            class: 'btn btn-warning' %></li>
          <% else %>
             <li><%= link_to "Login", new_user_session_path, class: 'btn btn-success' %>
          <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <div class="form-group">
        <%= button_to "New User/Sign Up", new_user_session_path, :class => "button", :method => :get  %>
        <%= button_to "Login", new_user_session_path, :class => "button", :method => :get  %>
      </div>
    </div>
  </div>
</header>


<%= yield %>

</body>
</html>
